<!-- Extracting component classes: -->
<button class="btn btn-blue">
  Button
</button>

<style>
  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
</style>

{% schema %}
    {
      "name": "Call to action",
      "target": "section",
      "settings": [
        {
          "id": "text-box",
          "type": "text",
          "label": "Heading",
          "default": "Title"
        },
        {
          "id": "link",
          "type": "url",
          "label": "Button link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Button text",
          "default": "Click Here"
        }
      ]
    }
{% endschema %}